{% extends 'layout.html' %}

{% block title %}
    Market page
{% endblock %}

{% block content %}

        <h1>Market Page</h1>

        <table class="table table-hover" style="background-color:#345e7a;">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %} <!-- Por cada item se hace una fila "tr" -->
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.price }}$</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-outline btn-info">More Info</button>
                            <button class="btn btn-outline btn-dark">Purchase this Item</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}